<%- include('layout/header') %>
<div
  class="container max-w-[100%] bg-green-200 flex justify-evenly items-center flex-wrap"
>
  <div class="w-[400px] h-[200px] bg-blue-400 my-[20px]"></div>
  <div class="w-[400px] h-[200px] bg-red-400 my-[20px]"></div>
  <div class="w-[400px] h-[200px] bg-yellow-400 my-[20px]"></div>
  <div class="w-[400px] h-[200px] bg-pink-400 my-[20px]"></div>
  <div class="w-[400px] h-[200px] bg-blue-400 my-[20px]"></div>
  <div class="w-[400px] h-[200px] bg-red-400 my-[20px]"></div>
  <div class="w-[400px] h-[200px] bg-yellow-400 my-[20px]"></div>
  <div class="w-[400px] h-[200px] bg-pink-400 my-[20px]"></div>
  <%- include('layout/footer') %>
</div>
